body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo do cabeçalho */
header {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 10px;
}

.info-header {
    text-align: center;
}

/* Estilo das seções */
section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #444;
}

/* Estilo do rodapé */
footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
}